<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		
<mapper namespace="DealMapper">

	<resultMap id="DealSelectMap" type="deal">
		<result property="itemNo" column="item_no" jdbcType="INTEGER"/>
		<result property="itemName" column="item_name" jdbcType="VARCHAR"/>
		<result property="registerUserNo" column="register_user_no" jdbcType="INTEGER"/>
		<result property="contactUserNo" column="contact_user_no" jdbcType="INTEGER"/>
		<result property="registerUserName" column="register_user_name" jdbcType="VARCHAR"/>
		<result property="contactUserName" column="contact_user_name" jdbcType="VARCHAR"/>
		<result property="dealDate" column="date" jdbcType="DATE"/>
		<result property="time" column="time" jdbcType="TIME"/>
		<result property="location.gridX" column="grid_x" jdbcType="DOUBLE"/>
		<result property="location.gridY" column="grid_y" jdbcType="DOUBLE"/>
	</resultMap>
	
	<resultMap id="WishSelectMap" type="item">
		<result property="itemNo" column="item_no" jdbcType="INTEGER"/>
		<result property="userNo" column="user_no" jdbcType="INTEGER"/>
		<result property="itemName" column="item_name" jdbcType="VARCHAR"/>
		<result property="price" column="price" jdbcType="INTEGER"/>
 		<result property="itemInfo" column="item_info" jdbcType="VARCHAR"/>
		<result property="regiDate" column="regi_date" jdbcType="DATE"/>
		<result property="stateCode" column="state_code" jdbcType="INTEGER"/>
		<result property="category1" column="category1" jdbcType="INTEGER"/>
		<result property="category2" column="category2" jdbcType="INTEGER"/>
		<result property="gridX1" column="grid_x1" jdbcType="DOUBLE"/>
		<result property="gridY1" column="grid_y1" jdbcType="DOUBLE"/>
		<result property="gridX2" column="grid_x2" jdbcType="DOUBLE"/>
		<result property="gridY2" column="grid_y2" jdbcType="DOUBLE"/>
		<result property="gridX3" column="grid_x3" jdbcType="DOUBLE"/>
		<result property="gridY3" column="grid_y3" jdbcType="DOUBLE"/>
		<result property="itemPicturePath1" column="filepath1" jdbcType="VARCHAR"/>
		<result property="itemPicturePath2" column="filepath2" jdbcType="VARCHAR"/>
		<result property="itemPicturePath3" column="filepath3" jdbcType="VARCHAR"/>
	</resultMap>
	
	<insert id="makeDeal" parameterType="deal">
		<!-- INSERT deal(item_no,
					user_no,
					date,
					time,
					grid_x,
					grid_y)
		VALUES(	#{itemNo},
				#{contactUserNo},
			  	#{dealDate},
			  	#{time},
			  	#{location.gridX},
			  	#{location.gridY}	) -->
	</insert>
	
	<select id="findDeal" parameterType="integer">
		<!-- SELECT
		r.item_no, r.item_name, r.price,
		r.user_no as register_user_no,
		r.nickname as register_user_name,
		c.user_no as contact_user_no,
		c.nickname as contact_user_name,
		d.deal_date, d.time, d.grid_x, d.grid_y
		FROM deal d
			 LEFT OUTER JOIN ( SELECT
			  				   i.item_no, i.item_name, i.price, i.user_no,
			  				   u.nickname
			  				   FROM item i, user u
			  				   WHERE i.user_no = u.user_no) r ON r.item_no = d.item_no
			 LEFT OUTER JOIN user c ON c.user_no = d.user_no
		WHERE d.item_no = #{value} -->
	</select>
	
	<!-- <update id="updateDeal">
		UPDATE deal
		<set>
			<if test=""></if>
		</set>
	</update>
	
	<delete id="completeDeal">
		{call
		declare
		begin
			DELETE FROM deal WHERE item_no=#{itemNo}
			DELETE FROM location WHERE item_no=#{itemNo}
			DELETE FROM item_pic WHERE item_no=#{itemNo}
			DELETE FROM reply WHERE item_no=#{itemNo}
			DELETE FROM item WHERE item_no=#{itemNo}
		end
		}		
	</delete>
	
	<update id="cancelDeal">
		UPDATE
	</update>
	
	<select id="findDealList" parameterType="search">
		SELECT
		?????????????????
		FROM (
				SELECT
				inner_table.*, @RNUM:=@RNUM+1 AS row_seq
				FROM	(
							SELECT
							r.item_no, r.item_name, r.price,
							r.user_no AS register_user_no, r.nickname AS register_user_name,
							c.user_no AS contact_user_no, c.nickname AS contact_user_name,
							d.date, d.time, d.grid_x, d.grid_y
							FROM deal d,
								 ( SELECT
					 			   i.item_no, i.item_name, i.price, i.user_no, u.nickname
								   FROM item i, user u
					  			   WHERE i.user_no = u.user_no	) r,
					 			 user c
							<where>
								d.item_no = r.item_no
						  		AND
						  		c.user_no = d.user_no
						  		AND
						  		(r.user_no = #{userNo}
						  		 OR
						  		 c.user_no = #{userNo})
						  		<if test="searchCondition==1">
						  		AND r.item_name = '%#{itemName}%'
						  		</if>
						  		<if test="searchCondition==2">
						  		AND ????????????????
						  		</if>
						  		<if test="searchCondition==3">
						  		AND ????????????????
						  		</if>
					  		</where>
					  		ORDER BY d.date, d.time		) AS inner_table,
					  	 (	SELECT @RNUM :=0	) AS RNUM	)
	</select> -->
	
	<insert id="addWish" parameterType="HashMap">
		INSERT wish(item_no, user_no, date, time)
		VALUES(#{itemNo}, #{userNo}, sysdate(), curtime())
	</insert>
	
	<delete id="removeWish" parameterType="HashMap">
		DELETE
		FROM wish
		WHERE item_no = #{itemNo}
			  AND
			  user_no = #{userNo}
	</delete>
	
	<select id="findWishList" parameterType="integer" resultMap="WishSelectMap">
		SELECT
		w.item_no,
		i.user_no,
		i.item_name,
		i.item_info,
		i.price,
		i.state_code,
		i.category1,
		i.category2,
		i.regi_date,
		i.filepath1,
		i.filepath2,
		i.filepath3,
		i.grid_x1,
		i.grid_y1,
		i.grid_x2,
		i.grid_y2,
		i.grid_x3,
		i.grid_y3
		FROM wish AS w
			 LEFT OUTER JOIN (  SELECT
								i.item_no,
								i.user_no,
								i.item_name,
								i.item_info,
								i.price,
								i.state_code,
								i.category1,
								i.category2,
								i.regi_date,
								ip.filepath1,
								ip.filepath2,
								ip.filepath3,
								l.grid_x1,
								l.grid_y1,
								l.grid_x2,
								l.grid_y2,
								l.grid_x3,
								l.grid_y3
								FROM item i
								     LEFT OUTER JOIN item_pic AS ip ON i.item_no = ip.item_no
								     LEFT OUTER JOIN location AS l ON i.item_no = l.item_no	) AS i ON i.item_no = w.item_no
		     LEFT OUTER JOIN user AS u ON u.user_no = w.user_no
		WHERE w.user_no = #{value}
	</select>
	
</mapper>