<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration
 		 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 		"http://mybatis.org/dtd/mybatis-3-config.dtd">			

<configuration>

	<properties resource="config/jdbc.properties" />
	
	<settings>
		<setting name="callSettersOnNulls" value="false"/>
	</settings>

 

  <!-- SQL Definition :: file include -->
  <mappers>
  <!--
    <mapper resource="sql/UserMapper.xml"/>
     
	<mapper resource="sql/ItemMapper.xml"/>
	<mapper resource="sql/DealMapper.xml"/>
	<mapper resource="sql/ChatMapper.xml"/>
	 -->
  </mappers>

</configuration>